<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
	{% if user.is_authenticated %}
             <meta http-equiv="refresh" content="0; url='register'" />
             <!--<p class="display-4">Hello, {{ user.username }}</p>--> <!-- mandarlo a register-->
	{% else %}
             <meta http-equiv="refresh" content="0; url='login'" />
             <!--<a class="lead" href="{% url 'logout' %}">Log in</a>-->
	{% endif %}
{% endblock content %}
</body>
</html>

